@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@1,9..144,700&display=swap');

*{
    margin: 0;
    padding: 0;

}

body{
  display: flex;
  width: 1440px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Christofer frutas */
.fruit{
    display: flex;
    justify-content: space-around;
    
}

  .cherry {
    position: absolute;
    text-align: center;
    margin: 400px;
    margin-right: 1100px;
    width: 350px;
  }
  .gra{
    color: #2A6155;
  }
  .gra-che{
    color: #4F8F7F;
  }
  .photo{
    color: #0B4F6D;
  }
  .ora-pho{
    color: #126088;
  }
  .orange {
    position: absolute;
    text-align: center;
    margin: 400px;
    margin-left: 1100px;
    width: 300px;
  }



/* Christofer Footer */
footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #90d4c5;}
h1 {
    color: #2d7464;
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 10px;
  }

.asp a {
    text-decoration: none;
    padding: 100px 30px;
    margin: 5px 0;
    color: #2d7466;
    border-radius: 5px;
  }
.social-network {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
}
 .social-network img{
    width: 20px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-around;
  }

.contenedor{
    display: flex;
    font-family: 'Fraunces' ;
    font-weight: 700;
    align-items: center;
    justify-content: space-around;
}
.contenedor_dos{

    margin-left: 100px;
    margin-right: 80px;
}
.transformador{

    margin-bottom: 30px;
    font-size: 40px;
    font-weight: bolder;
}
.texto{
    margin-bottom: 30px;
}
.learn{
    font-size: 18px
}
.contenedor_two{
    display: flex;
    align-items: center;
    font-family: 'Fraunces' ;
    font-weight: 700;
}
.contenedor_3{

    margin-left: 100px;
    margin-right: 80px;
}


.container1{
    width: 1440px;
  }
.main-img img{
  height: 443px;

}

